{% load static %}

<div x-data="{ open: false }" class="relative inline-block items-center {{ text_position }}">
    <div {{ attributes }}>
        <button type="button"
                class="inline-flex items-center justify-center w-full hover:text-gray-500 focus:outline-none
                    focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800
                    transition ease-in-out duration-150"
                id="options-menu" aria-haspopup="true" aria-expanded="true"
                @click="open = !open" @click.away="open = false">
            {% block dropdown_title %}{{ title }}{% endblock %}
            <!-- Heroicon name: chevron-down -->
            <svg class="ml-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                 fill="currentColor">
                <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
    <div x-show="open" class="{{ position }} z-50 absolute w-56 rounded-md shadow-lg"
         style="display: none;">
        <div class="rounded-md bg-white shadow-xs z-40" role="menu" aria-orientation="vertical"
             aria-labelledby="options-menu">
            {{ nodelist }}
        </div>
    </div>
</div>