[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-component-tags = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
python-memcached = "*"
locust = "*"

[requires]
python_version = "3.9"
